# ignore all logs
*.pyc
build
file*test
DownloadEdumall.log
example.py
example2.py
pass.txt
ffmpeg.py
DownloadEdumall_beta_origin.py
DOWNLOAD
DownloadEdumall.old.exe
youtube_dl
__pycache__
path.txt
*.bak
